@{
    ViewBag.Title = "History";
}

@using SimchaFund.Data1;
@model Homework_5_26.Models.HistoryViewModel

<h1>History For @Model.ContributorName</h1>
<h3>Current Balance:  $@Model.ContributorBalance</h3>

<table class="table table-bordered table-striped">
    <tr>
        <th>Transaction</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    @foreach (Transaction t in Model.Transactions)
    {
        <tr>
            <td>@(t.Type ==  TransactionType.Deposit ? "Deposit" : "Contribution to the " + t.SimchaName + " simcha")</td>
            <td>@t.Date.ToLongDateString()</td>
            <td>@(t.Type == TransactionType.Deposit ? "+" : "-")@t.Amount</td>
        </tr>
    }
</table>
